* {
	box-sizing: border-box;
}
body {
	background-image: url(frontend/Yel.gif);
    background-repeat: no-repeat;
    /*background-size: 100% 100%;*/
    background-position: center center;
    background-attachment: fixed;
	background-color: #171e24;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}